<section class="container py-5">
    <div class="row align-items-center mt-md-3">
        <div class="text col">
            <h1 class="text-primary  text-center fs-bold pb-5 mb-5" translate="notFound"></h1>
            <p class="text-light  fw-bold mt-5 py-5 text-center">404</p>
            <button class="btn btn-outline-primary d-block w-50 m-auto mt-5 fs-4" (click)="goHome()"
                translate="Home"></button>
        </div>
        <div class="col d-md-block d-none "><img class="d-block m-auto"
                src="https://omjsblog.files.wordpress.com/2023/07/errorimg.png" alt="">
        </div>
    </div>
</section>