::ng-deep .mat-sort-header-container {
    justify-content: center !important;
}

th,
td {
    text-align: center !important;
}

.container {
    --bs-gutter-x: 0rem !important;
}

.image {
    height: 80px;
    width: 80px;
    margin: 5px auto;
    border-radius: 20px;
    background-size: cover;
}

.search {
    width: 87%;
}

.pagination {
    width: fit-content;
}

.table-container {
    overflow-x: auto !important;

    ::ng-deep .mdc-data-table__table {
        white-space: nowrap;
    }

    td {
        font-weight: bold;
        font-size: 15px;
        padding: 10px 0px;

    }

    tr:hover {
        background-color: rgba(0, 0, 0, 0.2);

        td {
            color: white
        }
    }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
}